header.header
	.header__container
		.header__content
			button.header__btn.js-burger
				span.header__btn-line
				span.header__btn-line
				span.header__btn-line
			a.header__logo(href='#')
				img(src="/img/logo.svg", alt="едем.рф")
			span.header__text Совместные поездки на автомобиле
			.header__wrap-links
				a.header__link(href='#')
					span.header__icon
						+icon('search', 18, 18)
					span.header__link-text Найти поездку
				a.header__link.header__link--color(href='#')
					span.header__icon.header__icon--size
						+icon('plus', 14, 14)
					span.header__link-text Создать поездку
			.header__links
				a.header__icon-link(href='#')
					+icon('message', '20', '18')
				a.header__icon-link(href='#')
					+icon('bell', '16', '20')
					include _notify
			.header__side-block.side-block.js-menu
				.side-block__user-wrap
					.side-block__img
						img(src="/img/avatar.jpg", width='40', height='40' alt="")
					.side-block__text-content
						span.side-block__text Оксана
						span.side-block__sub-text +7 (912) 60-60-606
						span.side-block__icon
							+icon('arrow', 12, 9)
				.side-block__wrap-content
					a.side-block__link(href='#')
						span.side-block__icon
							+icon('search', 18, 18)
						span.side-block__link-text Найти поездку
					a.side-block__link.side-block__link--color(href='#')
						span.side-block__icon
							+icon('plus', 14, 14)
						span.side-block__link-text Создать поездку
				nav.side-block__nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href='#')
								span.nav__icon
									+icon('auto', 18, 16)
								span.nav__text Водителю
						li.nav__item
							a.nav__link(href='#')
								span.nav__icon
									+icon('people', 16, 21)
								span.nav__text Пассажиру
								include _notify
						li.nav__item
							a.nav__link(href='#')
								span.nav__icon
									+icon('message', 20, 18)
								span.nav__text Сообщения
								include _notify
						li.nav__item
							a.nav__link(href='#')
								span.nav__icon
									+icon('star', 22, 21)
								span.nav__text Отзывы
						li.nav__item
							a.nav__link(href='#')
								span.nav__icon
									+icon('profile', 16, 16)
								span.nav__text Мой профиль
				.side-block__btn-wrap
					button.side-block__btn Выйти


