.nav
	background-color: inherit
	flex 1 0 auto

	@media $lg
		display none

	&__list
		list-style: none
		margin 0
		padding: 0 24px 16px
		border-bottom 1px solid $grey-light-200

	&__item
		&:not(:last-child)
			padding-bottom 15px

	&__link
		text-decoration: none
		font-weight 400
		font-size 16px
		line-height 1.5
		color $grey-dark
		display inline-flex
		align-items: center
		position relative

	&__icon
		width 24px
		height 24px
		display flex
		align-items: center
		justify-content: center

		& svg
			fill: $grey-light

	&__text
		margin-left 24px
