.side-block
	display: flex
	flex-direction: column
	position: absolute
	top 100%
	left 0
	width 90%
	max-width: 416px
	height: calc(100vh - 100%)
	background-color: $white
	border-bottom-right-radius: 8px
	box-shadow: 0px 8px 16px rgba(176, 190, 197, 0.48);
	transform: translateX(-200%)
	transition: 1s ease transform 0s
	overflow: auto

	@media $lg
		position static
		height auto
		width fit-content
		transform: translateX(0)
		box-shadow: none
		border-radius: 0
		margin-left 11px

	&--active
		transform: translateX(0%)

	&__user-wrap
		background linear-gradient(270deg, #0762C8 0%, #14AAD9 100%)
		padding: 10px 16px
		margin-bottom 28px
		display flex
		flex-direction: row
		align-items: center

		@media $lg
			background: 0
			margin 0
			padding 0
			cursor pointer

	&__img
		width 40px
		height 40px
		border-radius: 50%

		& img
			border-radius: inherit
			height 100%
			object-fit: cover


		@media $lg
			width 32px
			height 32px

	&__text-content
		flex: 1
		display flex
		flex-direction: column
		margin-left 12px

		@media $lg
			flex-direction: row
			margin-left 8px

		& .side-block__icon
			display none

			@media $lg
				display block
				fill: $grey-light
				margin-left 12px

	&__text
		font-weight 400
		font-size: 16px
		line-height 1.5
		color $white

		@media $lg
			color $grey-dark
			font-size 14px

	&__sub-text
		font-weight 400
		font-size 14px
		line-height 1.5
		color $white
		opacity: 0.7

		@media $lg
			display none

	&__wrap-content
		padding: 0 24px 30px
		border-bottom: 1px solid $grey-light-200
		margin-bottom 16px
		display flex
		flex-wrap: wrap
		row-gap: 26px
		column-gap: 24px

		@media $lg
			display none

	&__link
		text-decoration: none
		display inline-flex
		align-items: center
		font-weight 500
		text-transform: uppercase
		line-height 1.5
		font-size: 14px
		color $primary-green

		& svg
			fill: $primary-green

	&__link--color
		color $primary-blue

		& svg
			fill: $primary-blue

	&__icon
		display block
		width 24px
		height 24px
		display flex
		align-items: center
		justify-content: center

	&__link-text
		margin-left 24px

	&__btn-wrap
		border-top: 1px solid $grey-light-200
		padding: 16px 24px 13px
		background: inherit
		border-radius: inherit

		@media $lg
			display none

	&__btn
		background: 0
		border: 0
		font-size 16px
		font-weight 400
		line-height 1.5
		color $grey-dark
		cursor pointer
