.side-block
	position: absolute
	top 100%
	left 0
	width 90%

	&__user-wrap
		background linear-gradient(270deg, #0762C8 0%, #14AAD9 100%)
		padding: 10px 16px

	&__img
		width 40px
		height 40px
		border-radius: 50%

		& img
			border-radius: inherit
