extends ../templates/_layout

block page
	section.section-content
		.section-content__container
			.section-content__block
				.section-content__wrap
					.section-content__title-wrap
						span.section-content__icon
							+icon('plus', 14, 14)
						h2.section-content__title Создать поездку
					p.section-content__text.js-formatting-text Просто укажите города отправления и прибытия, а также время выезда.
				button.section-content__btn.js-popup-btn Создать
			.section-content__block
				.section-content__wrap
					.section-content__title-wrap
						span.section-content__icon.section-content__icon--color
							+icon('search', 18, 18)
						h2.section-content__title Найти поездку
					p.section-content__text.js-formatting-text Просто укажите города отправления и прибытия, а также время выезда. Выберите поездку, которая подходит именно вам! Если потребуется что-то уточнить, напишите водителю до бронирования места.
				button.section-content__btn.section-content__btn--bg.js-popup-btn Найти
